
	
	#icon{
		float: left;
		margin-left:400px;
	}
	a{
		font-family: 'Lobster';
		color: white;
	}

	.header a:hover{
		background-color: red;
	}
		
		 h1{
			font-family: 'Lobster';
			
			font-size: 35px;
		}
		
		
		.menu{
			height: 100px;
			margin-bottom: 0px;
			text-align: bottom;
		}

			p{
				font-family: 'Arima Madurai';
				text-align: center;
				font-weight: bold;
			}
			
		.fluidcard{
			margin-top: 20px;
			padding-top: 20px;
			padding-right: 40px;
		}
		.description{
			font-family:'Lobster';
			text-align: center;
		}
		button{
			padding-left: 70px;
		}
		.banner {
			
			min-height: 700px;
    background-image: url('../images/starwars.jpg')!important;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.bannerh1{
	
	font-size: 50px;
	background-color:rgba(0, 0, 0,0.5);
	color: #920101;
	text-align: center;
	
}

.introduction{

	/*margin-top: 8em;*/
	padding-top: 30em;
	padding-right: 2em;
	padding-left: 2em;
	    text-align: center;
}
.introduction h1{
	height: 10px;
	padding:50px;
	 
	
}
.push{


	margin-top: 130px;
	margin-bottom: 20px;
}

.header h3{
	
	margin-top: 50px;
	padding-top: 10px;

}
 #img{
	height: 100px;
	width: 300px;
}
header{
	background-color 
	margin-top: 100px;
}
	